.page {
  padding: 20px;
  background-color: #111;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.page h2 {
  text-align: center;
}

.movies {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
  padding: 0 40px;
}

.movie-card {
  background-color: #1c1c1c;
  border-radius: 12px;
  padding: 15px;
  width: 220px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(255, 105, 180, 0.4);
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.movie-card h3 {
  margin-top: 10px;
  text-align: center;
}

.buy-button {
  margin-top: 12px;
  width: 100%;
  padding: 8px;
  background-color: #ff69b4;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buy-button:hover {
  background-color: #ff1493;
  transform: translateY(-2px);
}

.movie-info h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.movie-info p {
  margin: 2px 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}