.auth-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: #111;
    color: white;
    border-radius: 12px;
    box-shadow: 0 40px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.auth-container h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline-color: #f1356d;
}

.auth-form button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: hotpink;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.auth-form button:hover {
    background-color: deeppink;
}

.auth-link {
    margin-top: 15px;
    font-size: 15px;
}

.auth-link a {
    color: hotpink;
    text-decoration: none;
}

.auth-link a:hover {
    text-decoration: underline;
}